/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-create-block-cafe-restaurant-menu-block {
	background-color: #21759b;
	color: #fff;
	padding: 2px;
}

.wpv-cover-image-block {
    position: relative;
    width: 100%;
}

.wpv-group-block {
    justify-content: flex-end;
}

@media (max-width: 768px) {
    .wpv-group-block {
        justify-content: flex-start;
    }
}